@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  transition-duration: .2s;
  transition-property: background, background-color, color;
}

body {
  --white: #fafafa;
  --black: #212121;

  --primary: #3f51b5;
  --hover: #2c387e;
  --placeholder: rgba(0,0,0,.26);
  --second: #e0e0e0;
  --third: #424242;

  --background: var(--white);
  --background-text: var(--black);
  --primary-text: var(--white);
  --second-text: var(--black);
  --third-text:  var(--white);
  --form: var(--hover);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.429;
  color: var(--background-text);
  background-color: var(--background);
}

body.dark-theme{
  --primary: #283593;
  --hover: #3f51b5;
  --placeholder: #757575;
  --second: #424242;
  --third: #616161;

  --background: var(--black);
  --background-text: var(--white);
  --primary-text: var(--white);
  --second-text: var(--white);
  --third-text:  var(--white);
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}